/*styling for nav as a whole*/
.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #8981ff;
  color: #FFFFFF;
  height: 120px;
  position: fixed;
  top: 0; 
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.7em ;
}

/*css styling for right side of nav with text and arrow icon */
.navright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5em;
}

/*styling for TWEETER text*/
nav > span {
  font-family: "Bungee", sans-serif;
  font-size: 50pt;
}

/*styling for arrow*/
.fa-angle-double-down {
  font-size: 30px;
  color: rgb(255, 102, 204);
}
