/*styling for new-tweet container*/
.new-tweet {
  padding: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 0px;
  padding-top: 15px;
}
/*styling for left section of new-tweet container*/
.new-tweet-left {
  display: flex;
  flex-direction: column;
  border-bottom: 6px solid #545149;
  font-weight: bold;
}

/*styling for text area */
.new-tweet-left > textarea {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  display: inline-block
}

/*css styling for submission*/
.submission {
  font-family: "Bungee", sans-serif;
  padding-top: 1em;
}

/*styling for tweet button*/
.button {
  color: white;
  background-color: #8981ff;
  border-color: #8981ff;
  font-size: 20px;
  margin-bottom: 0rem;
}

/*placement of character counter*/
.counter {
  float: right;
  margin-right: 1.5rem;
}

/*styling for tweets section*/
section {
  padding-left: 6%;
  padding-right: 6%;
  margin-top: 0rem;
  justify-items: center;
}

