#tweets {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-wrap: break-word;
}

article:hover {
  box-shadow: 8px 8px 3px 0px rgb(248, 229, 175);
}

article {
  display: flex;
  flex-direction: column;
  width: 100%;
  outline: solid #545149 3px;
  width: 90%;
  margin-top: 20px;
  padding: 1.5em;
}

.tweetsSent {
  padding-left: 2em;
  padding-right: 2em;
}

.tweet-header {
  display: flex;
  align-items: center;
  align-self: center;
  height: 50%;
  width: 100%;
}

.username {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.handle {
  color: rgb(179, 176, 192);
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
}

article > footer {
  border-top: solid #545149 3px;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  font-size: medium
} 

section > p {
  overflow-wrap: break-word;
  margin-bottom: 3%;
}

footer > span {
  float: left;
  margin-top: 15px;
}

.tweet-footer-icons {
  margin-top: 15px;
  float: right;
}
.fa-flag:hover {
  color: rgb(248, 229, 175)
}
.fa-retweet:hover {
  color: rgb(248, 229, 175);
}
.fa-heart:hover {
  color: rgb(248, 229, 175)
}


